{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "newsletter/css/newsletter.css" %}'>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="section mini-section">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h3 class="mb-2">Subscription Form</h3>
        </div>
        <div class="col-md-8 p-5 form-wrap">
            <form class="p-5 bg-light"
                action="https://herokuapp.us21.list-manage.com/subscribe/post?u=c1854dd392d1603d15b520055&amp;id=95d033d64d&amp;f_id=002e54e1f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                novalidate>
                <div class="indicates-required "></div>
                <div class="mc-field-group ">
                    <label for="mce-EMAIL">Email Address</label>
                    <input type="email" value="" name="EMAIL" class="required email col-md-6" id="mce-EMAIL" required>
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div id="mce-responses" class="clear foot ">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_c1854dd392d1603d15b520055_95d033d64d" tabindex="-1" value="">
                </div>
                <div class="optionalParent ">
                    <div class="clear foot">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                            class="button btn-black">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}