body {
    background: none;
    background-color: lightgray;
}


.section {
    padding-top: 130px;
}


@media (max-width: 991px) {
    .section {
        padding-top: 40px;
    }


    body {
        height: calc(100vh - 116px);
    }

    .container {
        padding-top: 10px;
    }

    .img-div {
        padding-bottom: 15px;
    }
}