body {
    background: none;
    background-color: lightgray;
}


.container {
    max-width: 85%;
}

.mini-section {
    padding-top: 30px;
}

@media (max-width: 991px) {
    .section {
        padding-top: 60px;
    }

    body {
        height: calc(100vh - 116px);
        overflow-x: hidden;
        position: relative;
    }

    .mini-section {
        padding-top: 50px;
    }

    .img-div {
        padding-bottom: 15px;
    }
}