body {
    background: none;
    background-color: lightgray;
}

.container {
    max-width: 85%;
}

.mini-section {
    padding-top: 50px;
}

@media (max-width: 991px) {
    body {
        overflow-x: hidden;
        position: relative;
    }

    .mini-section {
        padding-top: 30px;
    }
}