{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href='{% static "aboutus/css/aboutus.css" %}'>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="section container ">
    <div class="row top-space">
        <div class="col-md-7 img-div" data-aos="fade-up">
            <img src="{{ MEDIA_URL }}about-us.jpg" alt="Image placeholder" class="img-fluid">
        </div>
        {% for inform in aboutus %}
        <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
            <h3 class="mb-4 text-center">{{ inform.title }}</h3>
            <p>{{ inform.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 img-div" data-aos="fade-up">
                <img src="{{ MEDIA_URL }}why-us.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            {% for info in why_chose_us %}
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="200">
                <h3 class="mb-4 text-center">{{ info.title }}</h3>
                <p>{{ info.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}