body {
    background: none;
    background-color: lightgray;
}

.section {
    padding-top: 120px;
    margin: 10px;
}

.mini-section {
    padding-top: 60px;
}

.cal-space {
    margin-right: 5px;
}


@media (max-width: 991px) {
    .section {
        padding-top: 80px;
    }
    

    body {
        height: calc(100vh - 116px);
    }

    .mini-section {
        padding-top: 10px;
    }
}


