body {
    background: none;
    background-color: lightgray;
}

.section {
    padding-top: 30px;
}


.cal-space {
    margin-right: 5px;
}


@media (max-width: 991px) {
    .section {
        padding-top: 0px;
    }
}