<div class='collapse navbar-collapse' id='main-nav'>
    <ul class='navbar-nav w-auto mx-auto'>
        <li class='nav-item dropdown'>
            <a class='logo-font font-weight-bold nav-link text-black mr-s' href='#' id='all-products-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                All products
            </a>
            <div class='dropdown-menu border-0' aria-labelledby='all-products-link'>
                <a href='' class='dropdown-item'>By Price</a>
                <a href='' class='dropdown-item'>By Rating</a>
                <a href='' class='dropdown-item'>By category</a>
                <a href='{% url "products" %}' class='dropdown-item'>All products</a>
            </div>
        </li>
        <li class='nav-item dropdown'>
            <a class='logo-font font-weight-bold nav-link text-black mr-s' href='#' id='occasion-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                Occasion
            </a>
            <div class='dropdown-menu border-0' aria-labelledby='occasion-link'>
                <a href='' class='dropdown-item'>Birthday</a>
                <a href='' class='dropdown-item'>Thank you</a>
                <a href='' class='dropdown-item'>Valentine</a>
                <a href='' class='dropdown-item'>Sympathy</a>
                <a href='' class='dropdown-item'>All Occasions</a>
            </div>
        </li><li class='nav-item dropdown'>
            <a class='logo-font font-weight-bold nav-link text-black mr-s' href='#' id='specials-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                Specials
            </a>
            <div class='dropdown-menu border-0' aria-labelledby='specials-link'>
                <a href='' class='dropdown-item'>Deals</a>
                <a href='' class='dropdown-item'>Gifts</a>
                <a href='' class='dropdown-item'>All Specials</a>
            </div>
        </li>
    </ul>

</div>