<div class='collapse navbar-collapse' id='main-nav'>
    <ul class='navbar-nav w-auto mx-auto'>
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class='nav-item dropdown'>
            <a class='logo-font font-weight-bold nav-link text-black mr-s' href='#' id='all-products-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                All products
            </a>
            <div class='dropdown-menu border-0' aria-labelledby='all-products-link'>
                <a href='{% url "products" %}?sort=price&direction=asc' class='dropdown-item'>By Price</a>
                <a href='{% url "products" %}?sort=rating&direction=desc' class='dropdown-item'>By Rating</a>
                <a href='{% url "products" %}?sort=category&direction=asc' class='dropdown-item'>By category</a>
                <a href='{% url "products" %}' class='dropdown-item'>All products</a>
            </div>
        </li>
        <li class='nav-item dropdown'>
            <a class='logo-font font-weight-bold nav-link text-black mr-s' href='#' id='occasion-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                Occasion
            </a>
            <div class='dropdown-menu border-0' aria-labelledby='occasion-link'>
                <a href='{% url "products" %}?category=birthday' class='dropdown-item'>Birthday</a>
                <a href='{% url "products" %}?category=thank_you' class='dropdown-item'>Thank you</a>
                <a href='{% url "products" %}?category=valentine' class='dropdown-item'>Valentine</a>
                <a href='{% url "products" %}?category=sympathy' class='dropdown-item'>Sympathy</a>
                <a href='{% url "products" %}?category=birthday,thank_you,valentine,sympathy' class='dropdown-item'>All Occasions</a>
            </div>
        </li>
        <li class='nav-item dropdown'>
            <a class='logo-font font-weight-bold nav-link text-black mr-s' href='#' id='specials-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                Specials
            </a>
            <div class='dropdown-menu border-0' aria-labelledby='specials-link'>
                <a href='{% url "products" %}?category=deals' class='dropdown-item'>Deals</a>
                <a href='{% url "products" %}?category=gifts' class='dropdown-item'>Gifts</a>
                <a href='{% url "products" %}?category=deals, gifts' class='dropdown-item'>All Specials</a>
            </div>
        </li>
        <li class='nav-item dropdown'>
            <a class='logo-font font-weight-bold nav-link text-black mr-s' href='#' id='specials-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                Flower Factory
            </a>
            <div class='dropdown-menu border-0' aria-labelledby='specials-link'>
                <a href='{% url "aboutus" %}' class='dropdown-item'>About Us</a>
                <a href='{% url "blog" %}?c' class='dropdown-item'>Our Blog</a>
                <a href='{% url "contact" %}' class='dropdown-item'>Contact Us</a>
            </div>
        </li>
    </ul>

</div>