{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block extra_css %}
<link rel="stylesheet" href='{% static "blog/css/blog.css" %}'>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}



{% block content %}

{% if messages %}
<div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>
{% endif %}
<div class="container pt-3">
    <div class="main-wrap">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade-up">
                    <h3 class="heading mb-4">{{ post_details }}</h3>
                    <div class="post-info">
                        <div class="date-info">{{ post_details.created }}</div>
                        <div class="author-info">By {{ post_details.author }}</div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container">
        <div class="row">
            <div>
                <p>{{ post_details.content }}</p>
                <hr>
            </div>
            <div>
                <h4 class="mb-5">Comments</h4>
                <ul class="comment-list">
                    {% for comment in comments %}
                    <li class="comment">
                        <div class="comment-body">
                            <h5>{{comment.user}}</h5>
                            <div class="meta">{{comment.created}}</div>
                            <p>{{ comment.content}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <hr>
                <div class="comment-for-wrap pt5">
                    <h4 class="mb5">Leave a comment</h4>
                    <form method="post" class="p-5 bg-light">
                        {% csrf_token %}
                        {% bootstrap_form comment_form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary btn-black">Leave a comment</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
{% endblock %}
{% endblock %}