body {
    background: none;
    background-color: lightgray;
}

.section {
    padding-top: 50px;
}


@media (max-width: 991px) {

    body {
        height: calc(100vh - 116px);
    }

    .top-space {
        padding-top: 100px;
    }

    .container {
        padding-top: 10px;
    }

    .img-div {
        padding-bottom: 15px;
    }
}