{% extends 'base.html' %}
{% load static %}
<!-- {% load bootstrap4 %} -->

{% block extra_css %}
<link rel="stylesheet" href='{% static "contact/css/contact.css" %}'>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

{% if messages %}
<div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>
{% endif %}
<div class="section" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center mb5">
            <div class="col-md-8 text-center p-2">
                <h3 class="mb-3">Contact Form</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10  form-wrap">
                    <form method="POST" class="p-5 bg-light">
                        {% csrf_token %}
                        {% bootstrap_form contact_form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary btn-black">Submit</button>
                        {% endbuttons %}
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
{% endblock %}
{% endblock %}