body {
    background: none;
    background-color: lightgray;
}



.mini-section {
    max-width: 90%;
}



@media (max-width: 991px) {
    .mini-section {
        padding-top: 135px;
    }


    body {
        height: calc(100vh - 116px);
        overflow-x: hidden;
        position: relative;
    }

    .container {
        padding-top: 25px;
    }

    .img-div {
        padding-bottom: 15px;
    }
}