body {
    background: none;
    background-color: lightgray;
}



.mini-section {
    padding-top: 50px;
    max-width: 90%;
}



@media (max-width: 991px) {
    .mini-section {
        padding-top: 120px;
    }


    body {
        height: calc(100vh - 116px);
    }

    .container {
        padding-top: 10px;
    }

    .img-div {
        padding-bottom: 15px;
    }
}